<!-- Tell code to use the base.html file -->
{% extends 'base.html' %}

{% block content %}

<!-- Tell flask where the flash message should pop up -->
<!-- Loop through messages (because there may be multiple that we want to display -->
 {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {% endfor %}

 <!-- Add condition: only if the user is authenticated/logged in then they can add blog posts -->
 {% if current_user.is_authenticated %}
 <h1>Add Blog Post</h1>
    <br/>
    <!-- Styling -->
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <!-- Add the form into the page -->
    <form method="POST">
        <!-- Created CSRF token -->
        {{ form.hidden_tag() }}

        <!-- Add label for the name field -->
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        <br/>

        {{ form.slug.label(class="form-label") }}
        <!-- Rows controls how big the textbox is -->
        {{ form.slug(class="form-control") }}
        <br/>

        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows='10') }}
        <br/>

        <!-- Add the submit button -->
        {{ form.submit(class="btn btn-secondary") }}

    </form>

    <!-- Load the ckeditor attribute into the form -->
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}

</div>
{% else %}
<h2>Must be logged in</h2>
<p>Sorry, you must be logged in to access this page!</p>
<a href="{{ url_for('login') }}">Login here</a>

{% endif %}

{% endblock %}
