<!-- Tell code to use the base.html file -->
{% extends 'base.html' %}

{% block content %}

<!-- Tell flask where the flash message should pop up -->
<!-- Loop through messages (because there may be multiple that we want to display -->
 {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 {% endfor %}

<!-- If the name var exists,  execute the following -->
<h1>Login!</h1>

    <!-- Styling -->
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <!-- Add the form into the page -->
    <form method="POST">
        <!-- Created CSRF token -->
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        <br/>

        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br/>

        <!-- Add the submit button -->
        {{ form.submit(class="btn btn-secondary") }}

    </form>
</div>

<br/><br/><br/>


{% endblock %}
